:root{
  --dark-blue: #24242c;
  --soft-orange: #e15638;
  --bone-white: #fefaec;
  --green: #6bc792;
}

.logo {
    width: 100px;
    margin-left: 50px;
}
nav {
    height: 100px;
}
.bar-btn {
    display: none;
}
.nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
}
.nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
    background-color: white;
}
.nav-menu li a {
    font-size: 25px;
    background-color: white;
}

.nav-menu li:hover, .nav-menu li a:hover {
    font-size: 35px;
    color: var(--green);
    transition: all .3s;
}

/** Section 1 **/

.greeting-container{
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}

.figure-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
}

figure {
  position: relative;
  display: flex;
}

.greeting-container img {
  position: relative;
  border-radius: 5px;
  width: 350px;
  height: 480px;
}

figcaption {
  padding: 0 4%;
  z-index: 2;
  margin-top: 30px;
  padding-right: 0;
  padding-left: 10px;
  min-width: 113px;
  width: 40%;
  box-sizing: border-box;
  float: left;
  position: relative;
  display: block;
}

.greeting-container .header--title-container {
  position: absolute;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: calc(-1em - 0%);
  padding: 0;

}

.greeting-container .header--title-container h3 {
  position: absolute;
  display: block;
  left: -5px;
  font-size: 30px;
  font-style: normal;
  color: var(--soft-orange);
}

.greeting-container .header--title-container em {
  font-size: 30px;
  font-style: normal;
  color: var(--soft-orange);
  margin: 0;
}

.greeting-container .header--name {
  position: absolute;
  display: block;
  left: -40px;
  top: 45px;
}

.greeting-container .header--title-container h1 {
  
  margin-top: 10px;
  font-size: 80px;
  font-style: normal;
  color: white;
  background-color: var(--dark-blue);
  font-weight: normal;
}

.greeting-container .header--description {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding: 10px;
}
  
.greeting-container .header--description p {
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
}

/**Section 2**/
.my-expirience-detail {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}

.expirience-detail--card {
  width: 90%;
  /**min-width: 288px;
  max-width: 400px;
  min-height: 70px;**/
  width: 250px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0,0,0, 0.16);
}

.expirience-detail--card:hover i {
  display: none;
}

.expirience-detail--card:hover p {
  font-size: 23px;
}

.expirience-detail--card:hover ul{
  display: block;
  color: var(--bone-white);
  font-size: 15px;
}


/**Section 3**/

.project-container--slider {
  display: flex;
  gap: 30px;
  height: 350px;
  max-width: 900px;
  min-width: 320px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 45px;
}

/**Section 4**/
.skills-education {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}


/**Footer**/

footer {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  /**text-align: center;*/
  background-color: var(--dark-blue);
}

.footer-container-img {
  display: inline-block;
}

.footer-container img {
  width: 450px;
  height: 325px;
}

.footer-container-logos {
  display: inline-block;
  /**position: absolute;**/
  /**width: 100%;**/
  top: 50%;
  /**transform: translateY(-50%);*/
}