:root{
  --dark-blue: #24242c;
  --soft-orange: #e15638;
  --bone-white: #fefaec;
  --green: #6bc792;
}

@font-face {
  font-family: 'komu';
  src: url('./assets/font/FontsFree-Net-Komu-A.ttf');
}

* {
  /**font-family: 'komu';*/
  margin: 0;
  padding: 0;
  /**background-color: var(--bone-white);**/
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/**Header!!**/

html {
  font-size: 62.5%;
  font-family: 'komu';
}

header {
  /*padding: 15px;*/
  min-width: 320px;
  max-width: 1080px;
  margin: auto;
  background-color: white;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  margin-left: 10px;
}

.nav-menu {
  position: relative;
  height: 100px;
  top: 0;
  background: none;
  transition: none;
  text-align: right;
  margin-right: 5px;
}

.nav-menu li {
  display: inline-block;
  line-height: 100px;
  margin: 0 10px;
  transition: none;
  background-color: white;
}

.nav-menu li a {
  font-size: 20px;
  background-color: white;
}

.nav-menu li:hover, .nav-menu li a:hover {
  font-size: 30px;
  color: var(--green);
  transition: all .3s;
}

/**Main Content!**/

main {
  width: 100%;
  min-height: 320px;
  height: auto;
}

/**Section 1**/

.greeting-container{
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.figure-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
}

figure {
  position: relative;
  display: flex;
}

.greeting-container img {
  position: relative;
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

figcaption {
  padding: 0 4%;
  z-index: 2;
  margin-top: 17px;
  padding-right: 0;
  padding-left: 10px;
  min-width: 113px;
  width: 40%;
  box-sizing: border-box;
  float: left;
  position: relative;
  display: block;
}

.greeting-container .header--title-container {
  position: absolute;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: calc(-1em - 0%);
  padding: 0;

}

.greeting-container .header--title-container h3 {
  position: absolute;
  display: block;
  left: -5px;
  font-size: 30px;
  font-style: normal;
  color: var(--soft-orange);
}

.greeting-container .header--title-container em {
  font-size: 30px;
  font-style: normal;
  color: var(--soft-orange);
  margin: 0;
}

.greeting-container .header--name {
  position: absolute;
  display: block;
  left: -35px;
  top: 45px;
}

.greeting-container .header--title-container h1 {
  margin-top: 10px;
  font-size: 45px;
  font-style: normal;
  color: white;
  background-color: var(--dark-blue);
  font-weight: normal;
}

.greeting-container .header--description {
  text-align: left;
}

.greeting-container .header--description p {
  font-size: 15px;
  font-family: sans-serif;
}

/**Section 2**/

.my-expirience {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--dark-blue);
}

/**Section 3**/

.main-projects {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
  background-color: var(--soft-orange);
}

.main-project-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main-project-title h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.project-container--slider {
  display: flex;
    gap: 30px;
    height: 320px;
    max-width: 900px;
    min-width: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 45px;
}

.project-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 900px;
  height: 250px;
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--bone-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.project-card--title {
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--dark-blue);
}

.project-stack {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 5.3rem;
  color: var(--dark-blue);
}

.project-description {
  font-size: 15px;
  color: #757575;
}

.project-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border: 2px solid var(--dark-blue);
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}

/**Section 4**/

.skills-education {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
}

/**Section 5**/

.reach-me {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
}

/**Footer**/

footer {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--dark-blue);
}

.footer-container img {
  width: 300px;
  height: 200px;
}

footer p {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: sans-serif;
  color: var(--bone-white);
}

footer a {
  text-decoration: none;
}

footer i {
  padding: 15px;
  font-size: 25px;
  color: var(--soft-orange);
}